@import '../../variables';

h2 {text-align: center;}

.preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .tile {
    width: 30%;
    display: flex;
    margin: 5px;
    height: 278px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transition: 0.5s all;
    .block {position: relative;}
    .stats {
      width: 100%;
      font-size: 10px;
      bottom: -14px;
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .desc {
      text-align: left;
      padding: 5px;
      overflow: hidden;
      max-height: 186px;
    }
    .title {
      background: rgba(0, 0, 0, 0.75);
      width: 100%;
      font-size: 14px;
      padding: 10px 0;
      color: $color1;
    }
    img {
      display: block;
      height: 276px;
      width: 185px;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .preview {
    .tile {
      width: 40%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .preview {
    .tile {
      width: 75%;
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .preview {
    .tile {
      width: 90%;
      font-size: 14px;
      img {
        width: 170px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .preview {
    .tile {
      width: 100%;
      img {
        width: 150px;
      }
    }
  }
}